# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot
*.jar
*.war
*.ear

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Documentacion local
documentacion_proyecto.txt
